[submodule "util/bash-brew"]
	path = util/bash-brew
	url = git@github.com:MCApollo/bash-brew.git
[submodule "util/MCApollo.github.io"]
	path = util/MCApollo.github.io
	url = git@github.com:MCApollo/MCApollo.github.io.git
	branch = testing
